/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    width: 100%;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: #212529;
    box-shadow: 3px 3px 20px;
    border-radius: 10px;
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: white;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;

}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: white;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    top: 20px;
}

.register {
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.index-div {
    margin-top: 30px;
}

.title-table {
    color: black;
    margin-top: 20px;
}

.boxesteste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    margin: 0 auto;
}

.boxesvalues {
    background-color: #F1F3F4;
    box-shadow: 0px 1px 3px;
    border-radius: 15px;
}

.boxesvalues  h2 {
    text-align: center;
    color: black;
    font-size: 2rem;
}

.boxesvalues p {
    text-align: left;
    margin: 1rem 1.5rem;
    font-size: 1.4rem;
    color: black;
}

.boxesvalues ion-icon {
    text-align: right;
}

.boxinput {
    background-color: #F1F3F4;
    box-shadow: 0px 1px 3px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
    height: 7vh;
}

.formbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.itemsform {
    width: 100%;
    margin-top: 15px;
}

.entrada {
    color: green;
}

.saida {
    color: red;
}



@media screen and (max-width: 768px) {
    .formbox {
      grid-template-columns: 1fr;
    }
  }
